<!DOCTYPE html>
<html lang="en">
<% include ./layout/head %>
<body class="bg-dark" style="background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);">

  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Add New Document</div>
      <div class="card-body">
        <form  action="/uploadfile"  method='post' encType="multipart/form-data">
          <div class="form-group">
                <div class="form-label-group">
                  <input class="form-control" id="documentname" name="documentname" type="text" placeholder="Document name" required="required" autofocus="autofocus">
                  <label for="documentname">Document name</label>
                </div>
            </div>
            <div id="department" class="form-group">
                <div class="form-label-group">
                    <select class="custom-select" name="department">
                        <option selected="">Department/Business Unit</option>
                        <option value="plantengineering">Plant Engineering</option>
                        <option value="construtioneu">Constrution EU</option>
                        <option value="powersystem">Power Systems</option>
                        <option value="rental">Rental</option>
                        <option value="zlabdigital">Z-lab Digital</option>
                      </select>
                </div>
            </div>
            <div id="documenttype" class="form-group">
                <div class="form-label-group">
                    <select class="custom-select" name="documenttype">
                        <option selected="">Document Type</option>
                        <option value="image">Image</option>
                        <option value="video">Video</option>
                        <option value="file">File</option>
                      </select>
                </div>
            </div>
            <div id="imageformats" class="form-group">
                <div class="form-label-group">
                    <select id="select_imageformats" class="custom-select" name="imageformats">
                        <option selected="">Image Formats</option>
                        <option value="jpg">JPG</option>
                        <option value="png">PNG</option>
                        <option value="gif">GIF</option>
                        <option value="bmp">BMP</option>
                        <option value="tiff">TIFF</option>
                        <option value="unspecified">Unspecified</option>
                      </select>
                </div>
            </div>
            <div id="imagefeature" class="form-group">
                <div class="form-label-group">
                    <select id="select_imagefeature" class="custom-select" name="imagefeature">
                        <option selected="">Image Feature</option>
                        <option value="watermark">With watermarks</option>
                        <option value="nowatermark">Without watermarks</option>
                        <option value="unspecified">Unspecified</option>
                      </select>
                </div>
            </div>
            <div id="videoformats" class="form-group">
                <div class="form-label-group">
                    <select id="select_videoformat" class="custom-select" name="videoformat">
                        <option selected="">Video Formats</option>
                        <option value="MP4">MP4</option>
                        <option value="webM">WebM</option>
                        <option value="flv">FLV</option>
                        <option value="vob">Vob</option>
                        <option value="amw">AMV</option>
                        <option value="3gpp">3GPP</option>
                        <option value="mpeg-1">MPEG-1</option>
                        <option value="mpeg-2">MPEG-2</option>
                        <option value="unspecified">Unspecified</option>
                      </select>
                </div>
            </div>
            <div id="resolutions" class="form-group">
                <div class="form-label-group">
                    <select id="select_resolution" class="custom-select" name="resolutions">
                        <option selected="">Resolutions</option>
                        <option value="360p">360p</option>
                        <option value="480p">480p</option>
                        <option value="720p">720p  - HD Ready</option>
                        <option value="1080p">1080p - Full HD</option>
                        <option value="1440p">1440p - Quad HD </option>
                        <option value="4K">4K    - UHD(4K)</option>
                        <option value="8K">8K    - 8K UHD</option>
                        <option value="unspecified">Unspecified</option>
                      </select>
                </div>
            </div>
            <div id="fileformats" class="form-group">
                <div class="form-label-group">
                    <select id="select_fileformats" class="custom-select" name="fileformats">
                        <option selected="">File Formats</option>
                        <option value="pdf">PDF</option>
                        <option value="doc">DOC</option>
                        <option value="docx">DOCX</option>
                        <option value="rtf">RTF</option>
                        <option value="txt">TXT</option>
                        <option value="unspecified">Unspecified</option>
                      </select>
                </div>
            </div>
            <div class="form-group"> 
               <label for="documentname">Tagging</label>
                <div class="form-label-group"> 
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" id="tagRed" name="tagging" type="checkbox" value="#C24641">
                        <label class="form-check-label" for="tagRed">Cherry Red</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" id="tagYellow" name="tagging" type="checkbox" value="#1569C7">
                        <label class="form-check-label" for="tagYellow">Blue Eyes</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" id="tagGreen" name="tagging" type="checkbox" value="#2E8B57">
                        <label class="form-check-label" for="tagGreen">Sea Green</label>
                      </div>
                      <div class="form-check form-check-inline">
                          <input class="form-check-input" id="tagViolet" name="tagging" type="checkbox" value="#FF4500">
                          <label class="form-check-label" for="tagViolet">Orange Red</label>
                        </div>
                     <div class="form-check form-check-inline">
                            <input class="form-check-input" id="tagOrange" name="tagging" type="checkbox" value="#FF69B4">
                            <label class="form-check-label" for="tagOrange">Hot Pink</label>
                    </div>
                </div>
            </div>
         
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="zlabfile_label">Upload</span>
                </div>
                <div class="custom-file">
                    <input class="custom-file-input" id="zlabfile" name="zlabfile" type="file" aria-describedby="zlabfile"  required="required">
                    <label class="custom-file-label" for="zlabfile">Choose file</label>
                  </div>
             
              </div>
           <div class="float-right">
              <button class="btn btn-secondary" type="reset">Clear</button>
              <button class="btn btn-primary" type="submit">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <% include ./layout/bottomscripts %>
</body>

</html>
