<!DOCTYPE html>
<html lang="en">
<% include ./layout/head %>
<body class="bg-dark" style="background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);">

  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Add New Document</div>
      <div class="card-body">
        <form  action="/uploadfile"  method='post' encType="multipart/form-data">
          <div class="form-group">
                <div class="form-label-group">
                  <input class="form-control" id="documentname" name="documentname" type="text" placeholder="Document name" required="required" autofocus="autofocus">
                  <label for="documentname">Document name</label>
                </div>
            </div>

            <div id="documenttype" class="form-group">
                <div class="form-label-group">
                    <select class="custom-select" name="documenttype">
                        <option selected="">Document Type</option>
                        <option value="file">File</option>
                      </select>
                </div>
            </div>
        
          
          
            <div id="fileformats" class="form-group">
                <div class="form-label-group">
                    <select id="select_fileformats" class="custom-select" name="fileformats">
                        <option selected="">File Formats</option>
                        <option value="pdf">JSON</option>
                        <option value="txt">TXT</option>
                      </select>
                </div>
            </div>
          
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="zlabfile_label">Upload</span>
                </div>
                <div class="custom-file">
                    <input class="custom-file-input" id="zlabfile" name="zlabfile" type="file" aria-describedby="zlabfile"  required="required">
                    <label class="custom-file-label" for="zlabfile">Choose file</label>
                  </div>
             
              </div>
           <div class="float-right">
              <button class="btn btn-secondary" type="reset">Clear</button>
              <button class="btn btn-primary" type="submit">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <% include ./layout/bottomscripts %>
</body>

</html>
