
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  
    <title>Z-Lab Document Management - Dashboard</title>
    <link href="images/favicon.png">
    <!-- Custom fonts for this template-->
    <link href="javascripts/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/images/open-iconic-master/font/css/open-iconic-bootstrap.css">
  
    <!-- Custom styles for this template--> 
    <link href="stylesheets/css/style.css" rel="stylesheet">
    <link href="stylesheets/css/sb-admin.min.css" rel="stylesheet">
   
  
<link type="text/css" rel="stylesheet" href="/javascripts/vendor/jsgrid-1.5.3/jsgrid.min.css" />
<link type="text/css" rel="stylesheet" href="/javascripts/vendor/jsgrid-1.5.3/jsgrid-theme.min.css" />
 
  </head>