   <!-- Sidebar -->
   <ul class="sidebar navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/documentlist">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-folder"></i>
            <span>Actions</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <a class="dropdown-item" href="/newdocument">Add New Item</a>
            <a class="dropdown-item" href="/documentlist">Document List</a>
            <a class="dropdown-item" href="/viewmap">view map</a>
            <a class="dropdown-item" href="/testing">mytestfile</a>
            
          </div>
        </li>
       
      </ul>
  